$black: #000;
$darkBlack: #272d34;
$blackTint1: #55595d;
$blackTint2: #757575;
$blackTint3: #bbbcbc;
$blackTint4: #cccccc;
$blackTint5: #dadada;
$blackTint6: #ebebeb;
$blackTint7: #f5f5f5;
$white: #fff;

$darkBlue: #004c97;
$green: #76c000;
$red: #da291c;
$darkRed: #a8251b;
