html,
body {
  height: 100%; //set height to viewport
  background-color:white;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// http://css-tricks.com/snippets/html/responsive-meta-tag/
@-ms-viewport {
  width: device-width;
}

%font_pre {
  font-family: CS-Type-eP, Arial, Helvetica, sans-serif;
  line-height: 1.625; //26px
  color: #000;
  //-webkit-font-smoothing: antialiased;
  //font-weight: 700;
}

%font {
  font-size: 1em;
  @extend %font_pre;
}

body {
  position: relative;
  font-size: 100%;
  @extend %font_pre;
  overflow: auto;
}


a:link,
a:visited,
a:active,
a:hover {
  text-decoration: inherit;
  color: inherit;
}

p {
  text-align: left;
}


input,
textarea {
  display: block;
  line-height: 100%;
  width: 100%;
  outline: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
  font-size: 1.142857em;
  line-height: 1;
  padding: 0.4em  2em 0.4em  0;
  border: none;
  border-bottom: 1px solid $blackTint4;
  &:focus {
    border-bottom: 1px solid $darkRed;
    transition: border-bottom-color .15s ease-in;
  }
}
