#page {
    position: relative;
    padding: 1.75em 0 5em 0;
    background-color: white;
}

#header-band {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 1.75em;
    background-color: $darkBlack;
    color: white;
    .header-text {
        font-size: 0.6875em;
        line-height: 2.545454;
        letter-spacing: 0.02em;
    }

    .login {
        position: absolute;
        top: 0;
        left: 32.9em;
        background-color: $red;
        height: 2.8em;
        padding: 0 2em;
        &:hover {
            cursor: pointer;
            background-color: $darkRed;
            transition: background 0.15s ease-in;
        }
    }
}
#nav {
    position: relative;
    width: 100%;
    height: 5.1875em;
    padding: 1em 0;
    overflow: hidden;
    img,
    .wrapper {
        float: left;
        margin-right: 4em;
    }
    .wrapper {
        position: relative;
        padding-top: 0.5em;
        font-size: 0.875em;
        font-weight: 700;
        overflow: hidden;
        span,
        i {
            float: left;
        }
        i {
            font-size: 1.2em;
            padding-top: 0.2em;
            color: $blackTint2;
        }
        &:hover {
            cursor: pointer;
            color: $blackTint2;
            transition: color 0.15s ease-in;
        }
    }
}
#menu {
    display: none;
    width: 100%;
    padding-bottom: 3em;
    background-color: $blackTint6;
    overflow: hidden;
    .sub-menu {
        float: left;
        margin-right: 2em;
        border-top: 1px solid $blackTint3;
        padding-top: 1em;
    }
    .sub-menu-header {
        font-weight: 700;
        margin-bottom: 0.6875em;
    }
    .sub-menu-content {
        font-size: 0.875em;
        ul {
            margin-top: 1.6875em;
        }
        li {
            margin-top: 0.625em;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}
#account-menu {
    max-width: 53.4em;
}
#menu-header {
    padding: 2em 0 1em 0;
    font-weight: 700;
    i {
        font-size: 1.8em;
        float: right;
        &:hover {
            cursor: pointer;
            color: $blackTint2;
        }
    }
    .title {
        font-size: 1.125em;
    }
}

#content {
    padding-top: 1.7em;
}
#header-band,
#nav,
#menu,
#console,
#dashboard-table,
#individual-report-table,
#no-content-explanation {
    padding-left: 7em;
}

#main-title {
    margin-left: 2.8em;
    font-weight: 700;
    font-size: 2.5em;
}

#console {
    margin-top: 4em;
    position: relative;
    overflow: hidden;
}

#reportrange {
    position: relative;
    float: left;
    margin-right: 2em;
    background: #fff;
    cursor: pointer;
    padding: 0.3em 2em;
    border: 1px solid #ccc;
    width: 18em;
    i {
        position: absolute;
        top: 0.2em;
        color: $blackTint2;
    }
    .date {
        left: 0.3em;
    }
    .down {
        right: 0.3em;
    }
}

#report-range-backdrop {
    display: none;
    background-color: $blackTint6;
    height: 21em;
}

#searchWrapper {
    width: 18em;
    position: relative;
    float: left;
    i {
        position: absolute;
        top: 0.2em;
        right: -0.1em;
        color: $blackTint2;
        font-size: 1.8em;
    }
}

#dashboard-table,
#individual-report-table {
    display: inline-block;
    padding-right: 7em;
    th {
        font-weight: 700;
        max-width: 25em;
    }
    td {
        text-align: center;
        max-width: 25em;
    }
    .report-name-dashboard-table {
        text-align: left;
        &:hover {
            cursor: pointer;
            color: $darkRed;
            text-decoration: underline;
        }
    }
}

table {
    margin-top: 2em;
    padding: 0;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: $blackTint7;
}

td,
th {
    position: relative;
    border: 1px solid $blackTint4;
    margin: 0;
    padding: 0;
    .cell {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 0.5em;
        line-height: 2.5;
    }
}
thead {
    background-color: $blackTint6;
}

.task-header {
    position: relative;
    color: $darkBlue;
    text-align: left;
  overflow: hidden;
    .filter {
      margin-top: 0.3em;
      float: right;
      overflow: hidden;
      margin-left: 0.5em;
        color: $blackTint2;
        &:hover {
            cursor: pointer;
            color: $black;
        }
    }
  p {
    overflow: hidden;
  };
}

.filter-options-wrapper {
  position: absolute;
  top: -12.5em;
  left: 0;
  width: 10em;
  background-color: $blackTint6;
  padding: 3em 0 1em 0;
  border-top: 4px solid $red;
  .close-filter-options {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    &:hover {
      color: $blackTint2;
      cursor: pointer;
    }
  }
}
.options-wrapper {
  font-weight: normal;
  position: relative;
  overflow: hidden;
  line-height: 2.5em;
  text-align: left;
  padding: 0 1em;
  i {
    position: relative;
    top: 0.2em;
    margin-right: 0.1em;
  }
  &:hover {
    cursor: pointer;
    background-color: $blackTint7;
  }
}

.align-table-text-left {
    text-align: left;
}

.status {
    font-size: 0.8em;
  //text-align: left;
    > div {
        &:first-of-type {
            margin-right: 1em;
        }
    }
    .active,
    .inactive {
        display: inline-block;
    }
    .active {
        i {
            color: $green;
        }
        .wip {
            color: $darkRed;
        }
    }
    .inactive {
        color: $blackTint4;
        &:hover {
            cursor: pointer;
            color: $blackTint2;
        }
    }
    i {
        position: relative;
        top: 0.25em;
        margin-right: 0.08em;
    }
}

.rounded-corners {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}